<div class="page-header"></div>
<h1 align="center">
  About Me
</h1>
<body align="center">MyWorkoutBuddy, an interactive online fitness profile website
to help further your fitness potential. Track workouts, Post your meals,
see what is new to the fitness world!
</body>
<br>
<br>

<h3 align="center">Trevor Knott <br><br>
  <img class="img-circle" <%= image_tag('me.jpeg') %></a>
  <br><br>
  <small class="center">Hello, I am Trevor Knott a 20 year old who has a passion in computer science and business marketing. I have a certificate in Interactive Media and Game Design using C#. I am now obtaining my Ruby on Rails certificate, as well as a Micro-degree. I strive to learn many more languages relevent to my goals. I have a passion for achieving more! I love to be creative, innovative, and new!</small>
</h3>
