<h1 align="center">
  About Us
</h1>
<body align="center">MyWorkoutBuddy, an interactive online fitness profile website
to help further your fitness potential. Track workouts, Post your meals,
see what is new to the fitness world!
</body>
<br>
<br>
<br>
<br>
<br>
<h3 align="center">Trevor Knott <br>
  <%= image_tag('me.jpeg') %>
</h3>
