<div class="page-header"></div>
<h1 align="center">
  About Me
</h1>
<body align="center">MyWorkoutBuddy, an interactive online fitness profile website
to help further your fitness potential. Track workouts, find fitness & nutrition related news
see what is new to the fitness world!
</body>
<br>
<br>
<h3 align="center">Trevor Knott <br><br>
  <img class="img-circle" <%= image_tag('me.jpeg') %></a>
  <br><br>
<div class="jumbotron">
  <small class="center">Hello, I am Trevor Knott a 20 year old who has a passion in computer science and business marketing. One day I am going to be running my own software company! I strive to learn many more languages and skills relevant to my goals. I have a passion for achieving more! I love to be creative, innovative, and new!</small>
</h3>

</div>
