<div class="page-header"></div>
<div class="jumbotron">
<h1 align="center">Contact Us<br><br>

  <small>Email: Tknott95@hotmail.com</small>
  <small>Phone: 970-581-3161</small>
  <br>

<a class="btn btn-primary"<%= link_to "Contact via. Website", new_contact_path %></a>
</h1>
</div>
