<div class="page-header"></div>
  <%= link_to workoutposts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New Workout</h1>


<%= render 'form' %>
